{% extends '@KrsticStatFilms/base.html.twig' %}

{% block body %}
    {% block entete %} {% endblock %}
    <main>
    {% block body_page %} {% endblock %}
    </main>
    {% block footer %} {% endblock %}
{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}{% endblock %}
